#txtarea {
    display: block;
    margin: 1rem;
    padding: 1rem;
    width: 80%;
    height: 10vh;
  }
  #output{
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    width: 80%;
    height: 10vh;
  }